/*---------- btn ----------*/
.btn {
  overflow: hidden;
  position: relative;
  display: inline-flex;
  padding: 6px 12px 4px;
  border: 2px solid #0200FF;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background-color: #0200FF;
  transform: translatez(0);

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #293A5A;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    content: '';
  }

  span {
    position: relative;
    display: block;
    width: 100%;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    @include subtitle-bold();
  }

  &.btn_transparent {
    background-color: transparent;

    span {
      color: #0200FF;
    }
  }

  &:hover {

    &:before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
@media (min-width: $phone-landscape) {
  .btn {

  }
}
@media (min-width: $tablet-portrait) {
  .btn {

  }
}
@media (min-width: $tablet-landscape) {
  .btn {

  }
}
@media (min-width: $desktop) {
  .btn {
    padding: 10px 23px 8px;

    span {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
/*---------- /btn ---------*/