.site {
  overflow: hidden;
  position: relative;
  z-index: 2;
  min-height: 100vh;
  min-width: 320px;
  @include main-font();

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    z-index: 2;
    padding: 10px 20px;
  }

  &__create-by {
    position: absolute;
    top: 70vh;
    left: 10px;
    z-index: 1;
    transform-origin: left;
    transform: rotate(270deg);
    color: #3F4551;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include subtitle-medium();
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {

    &__header {
      height: 154px;
      padding: 20px 45px;
    }

    &__create-by {
      top: 97.5vh;
      left: 57px;
    }
  }
}

